<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to Team-o-saurus.com</h1>
      <p>Teamosaurus is a work in progress. Today it's a simple survey tool to collect feedback from students working in teams. Please use it submit your self-assessment as well as your confidential assessments of your team members.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <h4>Log in with Twitter or Gmail</h4>
    <p>Click on either button below to log in. It makes no difference which one you use. (If you use both, then you will be in twice as if you were two people (you and your alter-ego maybe?)</p>
    <p>In either case, Teamosaurus will not access any of your information at all. It is only a way for you to tell us who you are.</p>
    <div class="row">
      <div class="col-md-4">
        <a href="/auth/google_oauth2" class="btn btn-primary btn-med" role="button">
        Sign In With Google</a>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <a href="/auth/twitter" class="btn btn-primary btn-med" role="button">
        Sign In With Twitter</a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <h4>After log in the first time, hurry up and wait...</h4>
    <p>After you have logged in for the first time you will be blocked from continuing until your log in is associated with a team. This can take a little bit of time because we have to wait until all team members have logged in before opening the door. Be patient.</p>
  </div>
</div>
