<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Welcome to Team-o-saurus.com</h1>
            <p>Teamosaurus is a work in progress. Today it's a simple survey tool to collect feedback from students working in teams. Please use it submit your self-assessment as well as your confidential assessments of your team members.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h4>Log in with Twitter or Gmail</h4>
          <ul>
            <li>Click on either button below to log in. In either case, Teamosaurus will not access any of your information at all. It is only a way for you to tell us who you ar.</li>
            <li>After the first time you click, you will have to wait a few minutes for your account to be added to your team. When you refresh the page you will be taken to your group assessment page.</li>
          </ul>
          <div class="row">
            <div class="col-md-5">
              <a href="/auth/google_oauth2" class="btn btn-primary btn-med" role="button">
              Sign In With Google</a>
          </div>
          <div class="col-md-5">
            <a href="/auth/twitter" class="btn btn-primary btn-med" role="button">
            Sign In With Twitter</a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>
