<div class="container">
	<div class="jumbotron">
	  <h1>Welcome to Teemroom</h1>
	  <p>Please use your twitter username and password to log in and provide your self and peer assessments.</p>
	  <p>Teemroom will not access any of your twitter information nor post or do anything!</p>
	  <p>Honest!</p>
	  <p>
	  	<a href="/auth/twitter" class="btn btn-primary btn-lg" role="button">
	  		Sign In With Twitter
  		</a>
		</p>
	</div>
</div>