<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Welcome to Team-o-saurus.com</h1>
            <p>Teamosaurus is a work in progress. Today it's a simple survey tool to collect feedback from students working in teams. Please use it submit your self-assessment as well as your confidential assessments of your team members.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h4>Log in with Twitter or Gmail</h4>
          <p>Click on either button below to log in. In either case, Teamosaurus will not access any of your information at all. It is only a way for you to tell us who you ar.</p>
          <p>After the first time you click, you will have to wait a few minutes for your account to be added to your team. When you refresh the page you will be taken to your group assessment page.</p>
          <div class="row">
            <div class="col-md-5">
              <a href="/auth/google_oauth2" class="btn btn-primary btn-med" role="button">
              Sign In With Google</a>
          </div>
          <div class="col-md-5">
            <a href="/auth/twitter" class="btn btn-primary btn-med" role="button">
            Sign In With Twitter</a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h4>After log in the first time, hurry up and wait...</h4>
        <p>After you have logged in for the first time you will be blocked from continuing until your log in is associated with a team. This can take a little bit of time because we have to wait until all team members have logged in before opening the door. Be patient.</p>
      </div>
    </div>
  </div>
</div>
