<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h2>Welcome to Teamosaurus! Readme!!</h2>
        <h4>FAQ</h4>
        <ul>
          <li>What is this? A new tool developed that allows you to provide confidential self appraisals and peer appraisals for your work on your team in Cosi 236b.</li>
          <li>How does it work? There is only a single page whichis a simple form where you will see your name and the names of your team mates. Take a second to reflect back on the semester and give your honest assessment on each individual, including yourself.</li>
          <li>What happens to the information? It will be kept confidential. It will be used as input to each student's grade.</li>
        </ul>
        <h4>Log in with Twitter or Gmail</h4>
        <ul>
          <li>Click on either button below to log in. In either case, Teamosaurus will not access any of your information at all. It is only a way for you to tell us who you ar.</li>
          <li>After the first time you click, you will have to wait a few minutes for your account to be added to your team. When you refresh the page you will be taken to your group assessment page.</li>
        </ul>
        <div class="row">
          <div class="col-sm-5">
            <a href="/auth/google_oauth2" class="btn btn-primary btn-med" role="button">
	  				Sign In With Google
  			</a>
          </div>
          <div class="col-sm-5">
            <a href="/auth/twitter" class="btn btn-primary btn-med" role="button">
  					Sign In With Twitter
					</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
