<div class="modal-header">
  <h3 class="modal-title" id="myModalLabel">Cancelled</h3>
</div>
<div class="modal-body">
  You have not made a submission. Your input has been discarded. Come again soon!
</div>