<div class="modal-header">
  <h3 class="modal-title" id="myModalLabel">Please log in with Twitter</h3>
</div>
<div class="modal-body">
  Make my team uses Twitter just to log you in. We don't see your password, we don't tweet or read
  your twitter stream. We don't use Twitter for any other purpose than to have you tell us who you
  are.
</div>
