<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">We are not collecting assessments yet!</h4>
</div>
<div class="modal-body">
Sorry, but you are early. Your team has not yet entered the "Post Assessments" stage. Please check with your team lead for an update.
</div>
