<div class="modal-header">
  <h3 class="modal-title" id="myModalLabel">The window is not open yet</h3>
</div>
<div class="modal-body">
  Please come back a little later on. We are not accepting submissions as yet! If you get impatient, talk to your instructor to find
  out what is going on. Thank you!
</div>
