<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Thanks for submitting!</h4>
</div>
<div class="modal-body">
Thanks for submitting. As long as the window is open you can come back and change your submission. Your information
will remain confidential.
</div>
